In [ ]:
a = 1000;
print(type(a))

<class 'int'>

**xaxamx**

In [ ]:
#Python List

What Are Python Lists?
A Python list is a mutable collection of heterogeneous elements (items) under one variable name. In this context, mutability means the elements inside a list can be changed while the program is running. We also can add or remove elements from a list whenever we want. In Python, we define lists by enclosing the elements between square brackets and separating them with commas. Each list’s element has an index representing the element's position in the list with a starting index of zero.

Creating Python Lists
To define a Python list, you need to use the following syntax:

variable_name = [item1, item2, item3, … , itemN]
As an example, let's create our first Python list.

In [4]:
shopping_list = ["eggs", "milk", "bread", "butter"]

In [5]:
price_list = [13.99, 8.50, 7.90, 12.50]

As we mentioned in the definition of the Python lists, the list items don't have to all be the same data type. They can be any object since everything is an object in Python.

In [7]:
a_mixed_list = ["dataquest.io", 100, "python.org", 10.01, True, 'A']

Check Type

In [8]:
print(type(shopping_list))
print(type(price_list))
print(type(a_mixed_list))

<class 'list'>
<class 'list'>
<class 'list'>

Go ahead, and run the code. No matter which data types are stored in the lists, all the type() functions return <class 'list'>, which is the data type of list objects.

**Accessing Items Within Python Lists**
As we have seen, each item in a list has its own index, so they can be retrieved using their associated indices. Let’s try the code:

In [9]:
print(shopping_list[0])
print(price_list[2])

eggs
7.9

Negative Indexing

In [ ]:
num_list = [21, 13, 17, 39, 17, 51]

print(num_list[-1])
print(num_list[0])
print(num_list[-6])

51
21
21

In [ ]:
print("The length of the list is {}.".format(len(num_list)))

The length of the list is 6.

Creating a List of Lists
In Python, we can store lists within another list (nested lists). To check how we can create a nested list, let's try the following code that makes one list containing other lists and values with different data types.

In [14]:
DATAC=[['C' , 300],['JAVA', 900]]
print(DATAC[0][1])
data = [["Python", 100], ["Java", 101], "Hello", True]
print(data)
print(data[1])

300
[['Python', 100], ['Java', 101], 'Hello', True]
['Java', 101]

In [ ]:
print(data[0][0])
inner_list = data[1]
print(inner_list[0])

Python
Java

Running the code above outputs Python and Java. In the first line of code, the first index enclosed between the first set of square brackets refers to the first item in the data list, which itself is a list, and the second index enclosed between the second set refers to the first value of the inner list, which results in Python. The illustration below represents how Python is retrieved from the data list.

**Slicing Lists**
Python allows us to create list subsets using slicing techniques. To create a list slice, we specify the index of the first and last items. The items from the first index up to, but not including, the last index are copied into the slice, and it's evident that the copying doesn't modify the original list. There are different ways for slicing a list; let’s look at some of them.

In [ ]:
#Slicing with a Starting Index
#Omitting the ending index means that the slice contains the list elements from the starting index to the end of the list. Let’s check it out:

num_list = [21, 13, 17, 39, 17, 51]

print(num_list[3:])

[39, 17, 51]

In [15]:
num_list = [21, 13, 17, 39, 17, 51]
print(num_list[:4])

[21, 13, 17, 39]

In [16]:
print(num_list[:])

[21, 13, 17, 39, 17, 51]

Slicing with Steps
We can use a step to return items at specified intervals. The step is optional — by default, it is 1. The following code returns every other item of num_list.

In [ ]:
num_list = [21, 13, 17, 39, 17, 51]
print(num_list[ : :2])

[21, 17, 17]

Reversing a List with Negative Step
We can reverse a list by specifying the step as -1. The following code returns the num_list items in reverse order.

In [ ]:
num_list = [21, 13, 17, 39, 17, 51]
print(num_list[ : :-1])

[51, 17, 39, 17, 13, 21]

In [ ]:
print(num_list[-1:-7:-1])
# [51, 17, 39, 17, 13, 21]

[51, 17, 39, 17, 13, 21]

**Adding Items to a List**
There are two methods for adding new items into a list, insert() and append() methods. The new item can be a string, a number, or even another list. We can use both methods to expand a list.

**.insert()**
The insert() method adds an item at a specified location within a list. Let’s see how it works.

In [ ]:
fruits = ["apple", "orange", "cherry"]
fruits.insert(1, "pineapple")
print(fruits)

['apple', 'pineapple', 'orange', 'cherry']

In [ ]:
# .append()
# The append() method adds an item at the end of a list. Let’s check it out.

In [ ]:
fruits = ["apple","orange","cherry"]
fruits.append("pineapple")
print(fruits)

['apple', 'orange', 'cherry', 'pineapple']

In [ ]:

# You can add a list of objects at the end of a list with += operator. If the left operand of += is a list, the right operand must be a list or any other iterable object.**
students = ["Mary", "James","Patricia"]
students += ["Robert"]
students += ["Emma", "William"]
print(students)

['Mary', 'James', 'Patricia', 'Robert', 'Emma', 'William']

In [ ]:
classA = ["Mary", "James","Patricia"]
classB = ["Robert", "Emma", "William"]
students = classA + classB
print(students)

['Mary', 'James', 'Patricia', 'Robert', 'Emma', 'William']

Removing Items from a List
There are two primary methods for removing items from a list, pop() and remove() methods.

.pop()
The pop() method removes an item at a specified index from a list and returns the item, which can be assigned to a variable and used later. The default value of the index is -1, which means if the index value isn't provided, it removes the last item.

In [ ]:
fruits = ["apple", "orange", "cherry", "pineapple"]

second_fruit = fruits.pop(1) # removes the second item
last_fruit = fruits.pop() # removes the last item

print("Second Fruit is {}.".format(second_fruit))
print("Last Fruit is {}.".format(last_fruit))
print(fruits)

Second Fruit is orange.
Last Fruit is pineapple.
['apple', 'cherry']

***The remove() method removes the first occurrence of an element with a specified value***

In [ ]:
fruits = ["apple", "orange", "cherry", "pineapple"]
fruits.remove('orange')
print(fruits)

['apple', 'cherry', 'pineapple']

In [ ]:
fruits = ["apple", "orange", "cherry", "pineapple"]
fruits.remove('adnan')

ValueError: list.remove(x): x not in list

In [ ]:
fruits = ["apple", "orange", "cherry", "pineapple"]
try:
  fruits.remove('blueberry')
  print(fruits)
except:
  print("The fruit name does not exist in the list.")

The fruit name does not exist in the list.

In [ ]:
num_list = []
if not num_list:
  print("The list is empty")

The list is empty

In [ ]:
fruits = ["apple", "orange", "cherry", "pineapple"]
for fruit in fruits:
  print(fruit)

apple
orange
cherry
pineapple

**Lab_Task**: You're analyzing a list named daily_expenses, representing the daily expenses of a household for a month. Your goal is to focus on weekend expenses, considering that weekends may not align with traditional Saturday-Sunday weekends.

Determine the weekend days based on spending patterns.
Use negative indexing for slicing to extract weekend expenses.
Calculate the total expenses for the weekends.
Explain your approach to identifying weekend days and discuss the importance of analyzing weekend expenses for financial planning.
Write a concise Python code snippet to achieve these objectives and display the total expenses for the weekends.

In [ ]:
daily_expenses = [80, 100, 90, 120, 110, 130, 70, 150, 140, 160, 200, 180, 190, 210, 220, 250, 240, 230, 270, 260, 280, 300, 320, 310, 340, 330, 350, 370, 360, 380]

***Post Lab_Task***
You've been given a list named sales_data containing the daily sales figures for a particular product over the course of a month. Your task is to analyze the sales performance during weekends, considering that weekends may not necessarily fall on Saturdays and Sundays due to different time zones or business operating schedules.

Analyze the provided sales data and determine which days correspond to weekends based on your understanding of typical weekend sales patterns.
Utilize Python's negative indexing for slicing to extract the sales figures for the identified weekend days.
Calculate the total sales for the weekends.
Provide a brief explanation of how you identified the weekend days and why analyzing weekend sales is important for business insights.
Write a Python code snippet to accomplish these tasks and display the total sales for the weekends.

In [ ]:
# Sample sales data for the month (for demonstration purposes)
sales_data = [1200, 1500, 1400, 1600, 1800, 1900, 2000, 2200, 2100, 2300, 2400, 2500, 2600, 2700, 2800, 2900, 3000, 3100, 3200, 3300, 3400, 3500, 3600, 3700, 3800, 3900, 4000, 4100, 4200, 4300]