[<img src="http://cloud.blobcity.net/assets/images/badge.png" height="25" style="margin-bottom:-15px" />](https://cloud.blobcity.com/#/ps/shared-cloudbook/66c4fcaa-b0e4-4e0a-b275-49cdf007667a)

# Tuple

A tuple is a sequence of Python objects. It is immutable, which means it cannot be changed once created. It can hold objects of any type, including holding other tuples.

In [ ]:
tup = 1,2,3  # Defines a tuple with 3 values

print(tup)

(1, 2, 3)

In [ ]:
tup = (1,2,3) # Can also be defined this way. Sometimes offers better readability

print(tup)

(1, 2, 3)

In [1]:
tup_nested = (1,2,3),(4,5) #This is a nested tuple

print(tup_nested[0])

(1, 2, 3)

The above example shows how one tuple can be included in another tuple. This is perfectly normal in Python as a tuple can store an object of any type, including an object of type tuple itself.

One can also convert any sequence into a tuple.

In [ ]:
num = [1,2,3]
tup = tuple(num)

print(tup)

(1, 2, 3)

The above example shows converting an array in a tuple.

A string in general is also a sequence of characters. It can be converted into a tuple too, just as any other sequence.

In [ ]:
tup = tuple('hello')

print(tup)

('h', 'e', 'l', 'l', 'o')

How do you access elements of a Tuple? We do it just like any other sequence type.

In [ ]:
tup[0]

'h'

Indexes in Python start from `0` like most other programming languages. So `tup[0]` gets us the first element in tuple.

A tuple does not necessarily have to be homogeneous. It can be hetrogeneous in nature. This means it can store objects of different types.

In [ ]:
tup = 'hello', [1,2,3], (4,5,6), True

print(tup)

('hello', [1, 2, 3], (4, 5, 6), True)

In [ ]:
tup = tuple(['hello', [1,2,3], (4,5,6), True]) #Also written as this

print(tup)

('hello', [1, 2, 3], (4, 5, 6), True)

A tuple itself is immutable, but if an object inside a tuple is mutable, it can be done so by directly mutating the object in-place.

In [ ]:
tup[1].append(4)

print(tup)

('hello', [1, 2, 3, 4], (4, 5, 6), True)

However, `tup[2].append(4)` would now work, as at index 2 we have a tuple. Index 1 was an array / list so the append operation worked.

## Concatenating Tuples

While tuples by themselves are immutable, we can concatenate two different tuples to make longer tuples.

In [ ]:
tup1 = 1,2,3
tup2 = 4,5,6

tup3 = tup1 + tup2

print(tup3)

(1, 2, 3, 4, 5, 6)

By using just the `+` operator, you can concatenate tuples to create a longer tuple.

## Multiplying Tuples

One can multiple the tuple to create a large tuple.

In [ ]:
tup = 1,2
tup = tup * 4

print(tup)

(1, 2, 1, 2, 1, 2, 1, 2)

We can see that multiplying the tuple by 4, we have caused the tuple to expand itself into 4 times its original size. All values inside the tuple get replicated 4 times with this operation.

## Unpacking Tuples
In a single line of code, we can extract all the values present within the tuple.

In [2]:
tup = 1,2,3

a,b,c = tup #Unpacks the Tuple

print(a)
print(b)
print(c)

1
2
3

Unpacking hetrogeneous tuples is also possible. The variables have to be provided in the approrpiate manner, else the operation will fail.

In [5]:
tup = 1,(2,3),(4,5)

a,b,(d,e) = tup

print(b)
# print(c)

(2, 3)

Since we had a tuple inside the tuple, we put `(d,e)` within the round brackets. Python would not be able to extract the value of 4 & 5 without this syntax. Let's try another way just to be clear.

In [ ]:
tup = 1,2,3,(4,5)

a,b,c,x = tup

print(x)

(4, 5)

The above example extracts the inner tuple and set it to the varaible `x`. It is important to note that it did not extract the value of `4` and set it to `x`. It instead extracted the entire tuple `(4,5)`

The unpacking of tuples works within for loops as well. It is a common practice to unpack when iterating over sequences in a for loop.

In [ ]:
array = [(1,2), (3,4), (5,6)]
for a, b in array:
    print(a, ',', b)

1 , 2
3 , 4
5 , 6

If we have an array or a sequence of tuples, and we want to iterate through it by extracting the individual elements of the tuple, the above code allows just that.

In your journey with Python, you might encounter such complex extraction patterns. It is important to fully understand and practice these.

## Pluck a few elements

Some of the most recent additions in Python, allow for plucking out a few values from the beginning of the tuple. The below example shows just how it is done.

In [7]:
tup = 1,2,3,4,5

a, b, *others = tup

print(a)
print(b)
print(others)

1
2
[3, 4, 5]

If we don't care about `others`, then we can also use an `_` to ignore the trailing values

In [ ]:
a, b, *_ = tup

print(a)
print(b)

1
2

## Methods on the tuple object

The tuple object offers some built-in methods for quick operations.

In [ ]:
tup = 1,2,1,1,3

print(tup.count(1))

3

The count method counts the number of times a specific element occurs within a tuple. Since the tuple is immutable, a count operation on a tuple is generally faster than the count operation on a list / array.

The tuple provides a second method called `index`. Unlike `count`, the `index` method gets the first index of occurances of the specified value. We can see this in the below example.

In [ ]:
print('First index of 1:', tup.index(1))
print('First index of 2:', tup.index(2))
print('First index of 3:', tup.index(3))

First index of 1: 0
First index of 2: 1
First index of 3: 4

***
Copyright (c) 2020, BlobCity, Inc.

**Lab_Task** You're analyzing a tuple named monthly_sales, which contains the daily sales figures for a particular product for an entire month. Your task is to focus on the sales performance during the second half of the month. However, due to the nature of the data, the sales figures might not be evenly distributed throughout the month.

Examine the provided sales data and determine which days correspond to the second half of the month.
Utilize negative indexing for slicing to extract the sales figures for the identified days in the second half of the month.
Calculate the total sales for the second half of the month.
Provide a brief explanation of how you identified the days in the second half of the month and discuss the importance of analyzing sales performance during this period.
Write a Python code snippet to accomplish these tasks and display the total sales for the second half of the month.

In [8]:
monthly_sales = (1200, 1500, 1400, 1600, 1800, 1900, 2000, 2200, 2100, 2300, 2400, 2500, 2600, 2700, 2800, 2900, 3000, 3100, 3200, 3300, 3400, 3500, 3600, 3700, 3800, 3900, 4000, 4100, 4200, 4300)monthly_sales

In [9]:
print(len(monthly_sales))

30